* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url(noise_lines.png); */
}

body {
    margin: 0 10vw; 
}


header {
    background-color: white;
    width: 80vw;
    /* flex: auto; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    opacity: 0.98;
}

header .left {
    display: flex;
}

header img {
    width: 100px;
    height: 90px;
}

header li a:hover {
    color: blue;
}

.content li a {
    color: black;
}


header p {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

header .content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 38vw;
}

header .content a {
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul li {
    list-style: none;
}
header .content input{
    /* margin-top: 10px; */
    width: 70px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    border: 0px;
    height: 30px
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 280px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    color: blue;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: blue;}